<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">
							<%= t('.need_confirm_email') %>
						</h3>
					</div>
					<div class="panel-body">
						<%= t('.click_resend_button_to_resend_confirmation_email') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>