<% [:success, :info, :warning, :danger].each do |type| %>
	<% if flash[type] %>
		<div class="alert alert-<%= type %>">
			<%= flash[type] %>
			<a class="close" data-dismiss="alert">&times;</a>
		</div>
	<% end %>
<% end %>