<% [:success, :info, :warning, :danger].each do |type| %>
	<% if flash[type] %>
		<alert class="alert-<%= type %>">
			<a class="close" data-dismiss="alert">
				&times;
				<%= flash[type] %>
			</a>
		</alert>
	<% end %>
<% end %>