<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel">
					<h3 class="panel-title">
						signup
					</h3>
					<div class="panel-body">
						<%= form_for @user, html:{ id: 'new-user-form'} do |f| %>
							<%= render 'share/form_error_messages', form: f %>
							
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>