/*
 *= require font-awesome
*/

@import "bootstrap";
@import "bootstrap_customize";
@import "markdown";
@import "users";
@import "books";
@import "comments";

@font-face {
	font-family: 'UKIJ Tuz Tom';
	src: asset_url('UKIJTuT.ttf') format("truetype");
}

body {
  background: #eee;
	font-family: "UKIJ Tuz Tom","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
	position: absolute;
	height: 60px;
	width: 100%;
	background: #333;
	color: #fff;
	
	p {
		margin: 10px 0;
	}
}