/*
 *= require font-awesome
*/

@import "bootstrap";
@import "bootstrap_customize";
@import "users";
@import "books";
@import "comments";

body {
  background: #eee;
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}