#info {
	margin-right: 10px;
}
.pl {
	color: #666;
}
.description 
{
	padding: 10px 0;
	clear: both;
}
.list-group-item-actions {
  .btn {
    color: $gray-light;

    &:hover {
      color: $gray-dark;
    }

    &:active {
      @include box-shadow(none);
    }
  }
  .liked {
    color: $brand-danger;

    &:hover {
      color: $brand-danger;
    }
  }
}
.book-shelf {
	.list-inline {
		padding: 0;
		li {
			padding: 5px 10px;
		}
		.title, .author {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 106px;
		}
	}
}
