#cover {
	float: left;
	margin: 3px 12px 0px 0px;
}

.pl {
	color: #666;
}
.description 
{
	padding: 10px 0;
	clear: both;
}
.list-group-item-actions {
  .btn {
    color: $gray-light;

    &:hover {
      color: $gray-dark;
    }

    &:active {
      @include box-shadow(none);
    }
  }
  .liked {
    color: $brand-danger;

    &:hover {
      color: $brand-danger;
    }
  }
}
